# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# Virtual Environments
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
